@{
  Layout = "_Layout";
}

<h3>Navigate to your preferred section: </h3>
<hr />
<p>@Html.ActionLink("View client","Index","Client")</p>
<p>@Html.ActionLink("Add a new client", "Create","Client")</p>

<p>@Html.ActionLink("View stylist","Index","Stylist")</p>
<p>@Html.ActionLink("Add a new stylist", "Create","Stylist")</p>